{% extends '@RadditApp/submission_base.html.twig' %}

{% from '@RadditApp/macros/comments.html.twig' import comment, comment_form %}
{% from '@RadditApp/macros/submissions.html.twig' import submission %}

{% block page_classes %}
  single-comment-page
{% endblock %}

{% block body %}
  {{ parent() }}

  {{ submission(submission) }}

  <div class="alert alert--notice single-comment-alert">
    <p>
      {{ 'comments.viewing_thread'|trans }}
      <a href="{{ path('raddit_app_comments', {forum_name: forum.name, submission_id: submission.id, slug: submission.title|slugify}) }}">
        {{- 'comments.thread_return'|trans -}}
      </a>
    </p>
  </div>

  {{ comment(comment, {show_form: true}) }}
{% endblock %}
