{% extends '@RadditApp/forum_base.html.twig' %}
{% from '@RadditApp/macros/user_macros.html.twig' import user_link %}

{% block page_classes 'forum-bans-page' %}
{% block title 'title.bans_in_forum'|trans({'%forum%': '/f/'~forum.name}) %}

{% block head %}
  {{ include('@RadditApp/includes/meta_pagination.html.twig', {pager: bans}, with_context=false) }}
{% endblock %}

{% block body %}
  <h1>{{ block('title') }}</h1>

  <table class="table">
    <thead>
    <tr>
      <th>{{ 'label.username'|trans }}</th>
      <th>{{ 'label.reason'|trans }}</th>
      <th>{{ 'label.banned'|trans }}</th>
      <th>{{ 'label.expires'|trans }}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      {% for ban in bans %}
        <tr>
          <td>
            {{ user_link(ban.user) }}
          </td>
          <td>{{ ban.reason }}</td>
          <td>
            {% with {date: ban.timestamp|localizeddate('long', 'short')} %}
              <time datetime="{{ ban.timestamp|date('c') }}" class="relative-time" title="{{ date }}">
                {{- date -}}
              </time>
            {% endwith %}
          </td>
          <td>
            {% if ban.expiryTime %}
              {% with {date: ban.expiryTime|localizeddate('long', 'short')} %}
                <time datetime="{{ ban.expiryTime|date('c') }}" class="relative-time" title="{{ date }}">
                  {{- date -}}
                </time>
              {% endwith %}
            {% else %}
              {{ 'label.never'|trans }}
            {% endif %}
          </td>
          <td>
            <a href="{{ path('raddit_app_forum_ban_history', {forum_name: forum.name, username: ban.user.username}) }}"
               class="button button--inline">
              {{- 'nav.ban_history'|trans -}}
            </a>
            <a href="{{ path('raddit_app_forum_unban', {forum_name: forum.name, username: ban.user.username}) }}"
               class="button button--inline">
              {{- 'action.unban'|trans -}}
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {{ include('@RadditApp/includes/pagination.html.twig', {pager: bans}, with_context=false) }}
{% endblock %}

