{% extends '@RadditApp/base.html.twig' %}
{% from '@RadditApp/macros/messages.html.twig' import message_thread %}

{% block page_classes %}
  message-page
{% endblock %}

{% block title %}
  {{ thread.title }}
{% endblock %}

{% block body %}
  <h1>{{ thread.title }}</h1>

  {{ message_thread(thread) }}

  {{ form_start(form) }}
    {{ form_row(form.body, {attr: {rows: 6}}) }}

    {{ form_row(form.submit) }}
  {{ form_end(form) }}
{% endblock %}
