{% extends '@RadditApp/base.html.twig' %}

{% from '@RadditApp/macros/submissions.html.twig' import submission %}
{% from '@RadditApp/macros/comments.html.twig' import comment %}
{% from _self import timestamp %}

{% block title %}{{ user.username }}{% endblock %}

{% block page_classes %}
  user-page
{% endblock %}

{% block body %}
  <h1>{{ user.username }}</h1>

  {% for contribution in contributions %}
    {% if contribution.type == 'submission' %}
      {{ submission(contribution.submission) }}
    {% elseif contribution.type == 'comment' %}
      {{ comment(contribution.comment, {recurse: false}) }}
    {% endif %}
  {% endfor %}
{% endblock %}

{% block sidebar %}
  <section class="sidebar__section sidebar__section--user-info">
    <h1 class="sidebar__title"><a href="{{ path('raddit_app_user', {username: user.username}) }}">{{ user.username }}</a></h1>

    <p>{{ 'user.registered'|trans({
      '%timestamp%': timestamp(user.created)
    })|raw }}</p>
  </section>

  <section class="sidebar__section sidebar__section--user-toolbox">
    <h1 class="sidebar__title">{{ 'user.toolbox'|trans }}</h1>
    <nav>
      <ul>
        {% if is_granted('ROLE_USER') %}
          <li><a href="{{ path('raddit_app_compose_message', {username: user.username}) }}">{{ 'user.message'|trans }}</a></li>
        {% endif %}
        <li><a href="{{ path('raddit_app_user_submissions', {username: user.username}) }}">{{ 'user.submissions'|trans }}</a></li>
        <li><a href="{{ path('raddit_app_user_comments', {username: user.username}) }}">{{ 'user.comments'|trans }}</a></li>
      </ul>
    </nav>
  </section>

  {% if is_granted('ROLE_ADMIN') %}
    <section class="sidebar__section sidebar__section--user-roles">
      <h1 class="sidebar__title">{{ 'heading.user_roles'|trans }}</h1>
      <form action="{{ path('raddit_app_mark_user_trusted', {id: user.id, trusted: not user.trusted ? 1 : 0}) }}" method="post" class="form">
        <input type="hidden" name="token" value="{{ csrf_token('mark_trusted') }}">
        <div class="form__row">
          <button class="button">{{ (not user.trusted ? 'action.mark_as_trusted' : 'action.mark_as_untrusted')|trans }}</button>
        </div>
      </form>
    </section>
  {% endif %}

  {% if user.moderatorTokens|length > 0 %}
    <section class="sidebar__section sidebar__section--user-moderator-info">
      <h1 class="sidebar__title">{{ 'user.moderates'|trans({'%username%': user.username}) }}</h1>
      <ul>
        {% for token in user.moderatorTokens %}
          <li><a href="{{ path('raddit_app_forum', {forum_name: token.forum.name}) }}">{{ token.forum.name }}</a></li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
{% endblock %}

{%- macro timestamp(timestamp) -%}
  {%- set date = timestamp|localizeddate('long', 'short') -%}
  <time datetime="{{ timestamp|date('c') }}" class="relative-time" title="{{ date }}">
    {{- 'time.on_timestamp'|trans({'%timestamp%': date}) -}}
  </time>
{%- endmacro -%}
