{% extends '@RadditApp/base.html.twig' %}

{% block page_classes %}
  wiki-create-page
{% endblock %}

{% block title %}
  {{ 'wiki.create_title'|trans({'%path%': path}) }}
{% endblock %}

{% block body %}
  <h1>{{ block('title') }}</h1>

  {% include '@RadditApp/forms/wiki_form.html.twig' with {form: form} only %}
{% endblock %}
