{% if theme is null or theme.appendToDefaultStyle %}
  {% if not night_mode %}
    <link rel="stylesheet" href="{{ preload(asset('build/red.css')) }}">
  {% else %}
    <link rel="stylesheet" href="{{ preload(asset('build/night.css')) }}">
  {% endif %}
{% endif %}

{% if theme is not null %}
  <link rel="stylesheet" href="{{ path('raddit_app_stylesheet', {
    id: theme.id,
    field: 'common',
    unixTime: theme.lastModified|date('U'),
  }) }}">
  <link rel="stylesheet" href="{{ path('raddit_app_stylesheet', {
    id: theme.id,
    field: night_mode ? 'night' : 'day',
    unixTime: theme.lastModified|date('U'),
  }) }}">
{% endif %}
